@font-face {
  font-family: 'Exo';
  src: url("../fonts/Exo2-Light.woff2") format('woff2'), url("../fonts/Exo2-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Exo';
  src: url("../fonts/Exo2-Regular.woff2") format('woff2'), url("../fonts/Exo2-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Exo';
  src: url("../fonts/Exo2-Medium.woff2") format('woff2'), url("../fonts/Exo2-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Exo';
  src: url("../fonts/Exo2-bold.woff2") format('woff2'), url("../fonts/Exo2-bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}
.clear {
  clear: both;
}
.align-image-center {
  text-align: center;
}
.fluid-image {
  max-width: 100%;
  height: auto;
  display: block;
}
.type--up {
  text-transform: uppercase;
}
.type--italy {
  font-style: italic;
}
.type--center {
  text-align: center;
}
.type--left {
  text-align: left;
}
.type--right {
  text-align: right;
}
.disabled,
.btn--disable,
.style-label--disable {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
.hidden {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.all-page__el {
  width: 32%;
  padding: 5px;
  box-shadow: 0px 3px 8px #e3e3e3;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .all-page__el {
    width: 100%;
    margin-bottom: 20px;
  }
}
.all-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.elements-hr {
  margin: 40px 0;
  display: block;
  height: 1px;
  border-bottom: 1px solid #d1d1d1;
}
.all-page__title {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #000;
}
.old-browser {
  background: #808080;
  width: 100%;
  height: 100vh;
  padding-top: 200px;
}
.all-page-color {
  display: flex;
  flex-wrap: wrap;
}
.all-page-color__el {
  margin: 20px;
}
.all-page-color__block {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.all-page-color__el-name {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
.old-browser-text {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.element-list-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.element-list-svg__icon {
  width: 12%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.element-list-svg__icon .icon-el {
  margin-bottom: 10px;
  width: 25px;
  height: 25px;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
@-webkit-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.shrink {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  margin: 0;
  animation: slideInDown 1s 1 ease-in-out;
}
@-moz-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: $link-color;
}
a:hover {
  text-decoration: none;
  color: $link-color-hover;
}
.type--bold {
  font-weight: $weigh-bold;
}
img,
iframe {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-radius: 4px;
}
table th,
table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table thead:first-child tr th,
table thead:first-child tr td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #ddd;
}
table th + th,
table td + td,
table th + td,
table td + th {
  border-left: 1px solid #ddd;
}
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top: 0;
}
table thead:first-child tr:first-child th:first-child,
table tbody:first-child tr:first-child td:first-child {
  border-radius: 4px 0 0 0;
}
table thead:first-child tr:first-child th:last-child,
table tbody:first-child tr:first-child td:last-child {
  border-radius: 0 4px 0 0;
}
table thead:last-child tr:last-child th:first-child,
table tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}
table thead:last-child tr:last-child th:last-child,
table tbody:last-child tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}
table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #f5f5f5;
}
body > svg {
  display: none;
}
.small-only {
  display: none;
}
@media only screen and (max-width: 768px) {
  .small-only {
    display: table;
  }
}
@media only screen and (max-width: 768px) {
  .large-only {
    display: none;
  }
}
.rub {
  font-family: 'RUB';
  font-style: normal;
}
.type--xs {
  font-size: 12px;
}
@media only screen and (max-width: 768px) {
  .type--xs {
    font-size: 10px;
  }
}
.type--sm {
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  .type--sm {
    font-size: 12px;
  }
}
.type--main,
p,
body {
  font-size: 16px;
}
@media only screen and (max-width: 768px) {
  .type--main,
  p,
  body {
    font-size: 14px;
  }
}
.type--md {
  font-size: 18px;
}
@media only screen and (max-width: 768px) {
  .type--md {
    font-size: 15px;
  }
}
.type--lg {
  font-size: 24px;
}
@media only screen and (max-width: 768px) {
  .type--lg {
    font-size: 18px;
  }
}
.type--xl {
  font-size: 30px;
}
@media only screen and (max-width: 768px) {
  .type--xl {
    font-size: 20px;
  }
}
.type--bold {
  font-weight: bold;
}
a {
  color: #111;
}
a:hover {
  color: #000;
}
a:visiter {
  color: #000;
}
.link--mark {
  color: #006ac5;
}
.link--mark:hover {
  color: #00335f;
}
.link--mark:visiter {
  color: #00182c;
}
.link--main {
  color: #111;
  border-bottom: #111 solid transparent;
}
.link--main:hover {
  border-bottom: #111 solid;
}
.link--main:hover {
  color: #000;
}
.link--main:visiter {
  color: #000;
}
.link--text {
  color: #111;
  text-decoration: underline;
}
.link--text:hover {
  text-decoration: none;
}
.btn,
.btn--sm,
.btn--md,
.btn--lg,
.btn--mobile,
.btn--mark,
.btn--dark,
.btn--light,
.btn--grey,
.btn--dotted,
.btn--white,
.banner-map__get,
.filter-item-footer__get {
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.4s;
  display: inline-block;
  background: none;
  border: 0;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.btn:hover,
.btn--sm:hover,
.btn--md:hover,
.btn--lg:hover,
.btn--mobile:hover,
.btn--mark:hover,
.btn--dark:hover,
.btn--light:hover,
.btn--grey:hover,
.btn--dotted:hover,
.btn--white:hover,
.banner-map__get:hover,
.filter-item-footer__get:hover {
  cursor: pointer;
}
.btn--sm {
  font-size: 10px;
  padding: 5px 10px;
}
.btn--sm .nav-icon {
  width: 10px;
  height: 10px;
}
.btn--md,
.banner-map__get,
.filter-item-footer__get {
  font-size: 15px;
  padding: 15px 35px;
}
.btn--lg {
  font-size: 20px;
  padding: 10px 30px;
}
@media only screen and (max-width: 768px) {
  .btn--mobile {
    width: 100%;
    text-align: center;
  }
}
.btn--mark,
.banner-map__get {
  color: #fff;
  background: #e31e25;
}
.btn--mark:hover,
.banner-map__get:hover {
  background-color: #ce1a20;
  color: #fff !important;
}
.btn--mark:active,
.banner-map__get:active {
  background-color: #ce1a20;
  color: #fff !important;
}
.btn--mark input[type="submit"],
.banner-map__get input[type="submit"] {
  border: 0;
}
.btn--dark,
.filter-item-footer__get {
  color: #fff;
  background: #344164;
}
.btn--dark:hover,
.filter-item-footer__get:hover {
  color: #fff !important;
  background-color: #2b3653;
}
.btn--dark:active,
.filter-item-footer__get:active {
  color: #fff !important;
  background-color: #2b3653;
}
.btn--dark input[type="submit"],
.filter-item-footer__get input[type="submit"] {
  border: 0;
}
.btn--disable {
  border: 1px solid #ddd;
  background-color: #fff;
  color: #000;
}
.btn--light {
  border: 1px solid #ddd;
  background-color: #fff;
}
.btn--light:hover {
  border: 1px solid #006ac5;
}
.btn--light .nav-icon {
  fill: #3a90c8;
}
.btn--grey {
  border: 1px solid #ddd;
  background-color: #fff;
}
.btn--dotted {
  border: 1px dashed #d7d7d7;
  background-color: #fff;
  text-align: center;
}
.btn--white {
  border: 1px solid rgba(255,255,255,0.9);
  color: rgba(255,255,255,0.9);
}
.btn--white .nav-icon {
  fill: rgba(255,255,255,0.9);
}
.btn--icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
.btn--hover {
  transform: perspective(100px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  transition-property: color;
  transition-duration: 0.1s;
}
.btn--hover:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #aaa;
  border-radius: 10%;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.35s;
  transition-timing-function: ease-out;
}
.btn--hover:hover,
.btn--hover:focus,
.btn--hover:active {
  color: #fff;
}
.btn--hover:hover:before {
  transform: scale(2);
}
.btn--hover:focus:before {
  transform: scale(2);
}
.btn--hover:active:before {
  transform: scale(2);
}
button {
  font-family: 'Exo', sans-serif;
}
.input,
.textarea,
.select {
  border: 0px;
  padding: 15px 20px;
  border: 1px solid #ddd;
  resize: none;
  outline: 0 !important;
  border-radius: 4px;
  font-family: 'Exo', sans-serif;
  display: block !important;
  margin-bottom: 10px;
  background: #f7f7f8;
  transition: all 0.4s;
}
.input input::-webkit-input-placeholder,
.textarea input::-webkit-input-placeholder,
.select input::-webkit-input-placeholder {
  color: #888;
}
.input input::-moz-placeholder,
.textarea input::-moz-placeholder,
.select input::-moz-placeholder {
  color: #888;
}
.input input:-moz-placeholder,
.textarea input:-moz-placeholder,
.select input:-moz-placeholder {
  color: #888;
}
.input input:-ms-input-placeholder,
.textarea input:-ms-input-placeholder,
.select input:-ms-input-placeholder {
  color: #888;
}
.input:focus,
.textarea:focus,
.select:focus {
  border: 1px solid #3a90c8;
}
.style-label {
  display: flex;
  position: relative;
  align-items: center;
}
.check-el input {
  position: absolute;
  top: 0;
  left: -9999px;
}
.check-el .sytle-input-element {
  width: 25px;
  height: 25px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: #fff;
  border: 1px solid #cad3df;
  border-radius: 5px;
  transition: all 0.4s;
}
.check-el .sytle-input-element:hover {
  cursor: pointer;
}
.check-el .sytle-input-element:hover {
  border: 1px solid #8d8d8d;
}
.check-el .icon-check {
  display: none;
}
.check-el .sytle-input:checked ~ .sytle-input-element {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.check-el .sytle-input:checked ~ .sytle-input-element .icon-check {
  display: block;
  fill: #006ac5;
  width: 14px;
  height: 14px;
}
.style-label--radio input {
  position: absolute;
  top: 0;
  left: -9999px;
}
.style-label--radio .sytle-input-element {
  width: 22px;
  height: 22px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: #fff;
  border: 1px solid #cfcfcf;
  border-radius: 50%;
}
.style-label--radio .sytle-input-element:hover {
  cursor: pointer;
}
.style-label--radio .icon-check {
  display: none;
}
.style-label--radio .sytle-input:checked ~ .sytle-input-element {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.style-label--radio .sytle-input:checked ~ .sytle-input-element .icon-radio {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: #3a90c8;
}
/* block footer*/
/*block footer end */
body {
  font-family: 'Exo', sans-serif;
  line-height: 1.2;
  letter-spacing: 0.01em;
}
.main-cont {
  *zoom: 1;
  width: auto;
  max-width: 1200px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
  padding: 0 10px;
}
.main-cont:before,
.main-cont:after {
  content: '';
  display: table;
}
.main-cont:after {
  clear: both;
}
@media only screen and (min-width: 1200px) {
  .main-cont {
    width: 1200px;
  }
}
.head {
  margin-bottom: 20px;
}
.head-top-wrap {
  background: #ebf1f5;
}
.head-top {
  display: flex;
  align-items: center;
}
.head-location {
  display: flex;
  margin-right: 4%;
}
.head-location:hover {
  cursor: pointer;
}
.head-location-town {
  color: #006ac5;
  margin-right: 10px;
  border-bottom: 1px dotted #006ac5;
  font-size: 13px;
}
.head-location-numb {
  color: #006ac5;
  font-size: 13px;
}
.head-top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}
.head-top-nav__el {
  transition: all 0.4s;
  color: #8493a8;
  padding: 15px 0;
}
.head-top-nav__el:hover {
  cursor: pointer;
}
.head-top-nav__el:hover {
  color: #111;
}
.head-top-nav__el:hover a {
  color: #111;
}
.head-top-nav__el a {
  transition: all 0.4s;
  color: #8493a8;
}
.head-top-nav__el--sub {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.head-top-nav__el--sub .icon {
  width: 10px;
  height: 10px;
  fill: #8493a8;
  margin-left: 7px;
  margin-top: 2px;
  transition: all 0.4s;
}
.head-top-nav__el--sub:hover .head-top-nav__list {
  display: block;
}
.head-top-nav__el--sub:hover .icon {
  fill: #111;
}
.head-top-nav__list {
  display: none;
  background: #fff;
  width: 170px;
  border-radius: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #cad3df;
  overflow: hidden;
  z-index: 2;
}
.head-top-nav__list-el {
  background: #fff;
  display: block;
  padding: 25px 20px;
  color: #54657e;
  position: relative;
  transition: all 0.4s;
}
.head-top-nav__list-el:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background: #006ac5;
  opacity: 0;
}
.head-top-nav__list-el:hover {
  background: #ebf1f5;
  color: #006ac5;
}
.head-top-nav__list-el:hover:before {
  content: '';
  opacity: 1;
}
.head-top-compare {
  margin-left: auto;
  display: flex;
  margin-right: 4%;
}
.head-top-compare__icon .icon {
  width: 14px;
  height: 14px;
  fill: #8493a8;
  margin-right: 10px;
}
.head-top-compare__text {
  color: #8493a8;
}
.head-top-cart {
  position: relative;
}
.head-top-cart__icon .icon {
  width: 25px;
  height: 25px;
  fill: #006ac5;
}
.head-top-cart__val {
  position: absolute;
  width: 15px;
  height: 15px;
  background: #e31e25;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
  top: -4px;
  right: -5px;
}
.head-top-cart__val span {
  display: inline-block;
  margin-top: -2px;
}
.head-main-wrap {
  border-bottom: 1px solid #cad3df;
}
.head-main {
  display: flex;
}
.logo {
  display: block;
  padding: 8px 20px 8px 0;
  border-right: 1px solid #cad3df;
  width: 18%;
}
.logo img {
  width: 100%;
}
.head-main-nav {
  display: flex;
  margin-left: 25px;
}
.head-main-nav-el {
  transition: all 0.4s;
  color: #54657e;
  margin-right: 15px;
  padding: 12px 22px;
  text-transform: uppercase;
}
.head-main-nav-el:hover {
  cursor: pointer;
}
.head-main-nav-el:hover {
  color: #111;
}
.head-main-nav-el:hover a {
  color: #111;
}
.head-main-nav-el a {
  transition: all 0.4s;
  color: #54657e;
}
.head-main-nav-el--sub {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.head-main-nav-el--sub .icon {
  width: 10px;
  height: 10px;
  fill: #54657e;
  margin-left: 7px;
  margin-top: 2px;
  transition: all 0.4s;
}
.head-main-nav-el--sub:hover .head-top-nav__list {
  display: block;
}
.head-main-nav-el--sub:hover .icon {
  fill: #111;
}
.head-main-nav-el--sub {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.head-main-nav-el--sub .icon {
  width: 10px;
  height: 10px;
  fill: #8493a8;
  margin-left: 7px;
  margin-top: 2px;
  transition: all 0.4s;
}
.head-main-nav-el--sub:hover .head-main-nav-list {
  display: block;
}
.head-main-nav-el--sub:hover .icon {
  fill: #111;
}
.head-main-nav-list {
  display: none;
  background: #fff;
  width: 230px;
  border-radius: 5px;
  position: absolute;
  top: 40px;
  left: 0;
  border: 1px solid #cad3df;
  overflow: hidden;
}
.head-main-nav-list-el {
  display: block;
  padding: 25px 20px;
  color: #54657e;
  position: relative;
  transition: all 0.4s;
  text-transform: none;
  border-bottom: 1px solid #cad3df;
  font-size: 14px;
}
.head-main-nav-list-el:last-child {
  border-bottom: 0;
}
.head-main-nav-list-el:hover {
  background: #ebf1f5;
  color: #006ac5;
}
.head-main-search {
  margin-left: auto;
  width: 28%;
}
.head-main-search__input {
  display: flex;
}
.head-main-search__input .input {
  border-radius: 5px 0 0 5px;
  border: 1px solid #cad3df;
  background-color: #fff;
  padding: 12px 20px;
  margin-bottom: 0;
  width: calc(100% - 45px);
}
.head-main-search__input .input::-webkit-input-placeholder {
  font-style: italic;
  font-size: 14px;
  color: #8493a8;
}
.head-main-search__input .input::-moz-placeholder {
  font-style: italic;
  font-size: 14px;
  color: #8493a8;
}
.head-main-search__input .input::-moz-placeholder {
  font-style: italic;
  font-size: 14px;
  color: #8493a8;
}
.head-main-search__input .input::-ms-input-placeholder {
  font-style: italic;
  font-size: 14px;
  color: #8493a8;
}
.head-main-search__input button {
  background: none;
  border: 0px;
  background: #344164;
  width: 45px;
  border-radius: 0px 5px 5px 0;
}
.head-main-search__input button .icon {
  width: 16px;
  height: 16px;
  fill: #fff;
}
.head-main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}
.banner-panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.banner-panel-sm {
  width: 32%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e31e25;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
}
.banner-panel-sm-img {
  margin-right: 20px;
}
.banner-panel-sm-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}
.banner-panel-sm-text {
  font-size: 12px;
  text-transform: uppercase;
}
.banner-panel-lg {
  width: 66%;
  background: #344164;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
}
.banner-panel-lg-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}
.banner-panel-lg-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-panel-lg-cont-icon .icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-right: 20px;
}
.banner-panel-lg-cont-numb {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
}
.banner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.banner-info {
  width: 32%;
}
.banner-info__el {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px;
  position: relative;
  padding: 40px;
}
.banner-info__el:first-child {
  margin-bottom: 20px;
}
.banner-info__el-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.7);
}
.banner-info__list {
  position: relative;
}
.banner-info__list-el {
  display: flex;
  margin-bottom: 25px;
}
.banner-info__list-el:last-child {
  margin-bottom: 0;
}
.banner-info__list-el-icon {
  margin-right: 20px;
}
.banner-info__list-el-icon .icon {
  width: 42px;
  height: 42px;
  fill: #333;
}
.banner-info__list-el-text {
  text-transform: uppercase;
  width: calc(100% - 60px);
  line-height: 1.6;
}
.banner-info__el-title {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 20px;
}
.banner-info__list--news .banner-info__list-el {
  margin-bottom: 0;
}
.banner-info__list--news .banner-info__list-el-text {
  width: 100%;
  line-height: 1.4;
  font-size: 14px;
  text-transform: none;
  margin-bottom: 10px;
}
.banner-info__list-el-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-info__list-el-bottom-date {
  color: #666;
  font-size: 12px;
  font-weight: 300;
}
.banner-info__list-el-bottom-get {
  color: #006ac5;
  font-size: 12px;
  font-weight: 300;
}
.banner-map {
  width: 66%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90%;
}
.banner-map-content {
  width: 80%;
}
.banner-map__title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #303030;
}
.banner-map__list {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10%;
}
.banner-map__list-el {
  padding-left: 15px;
  margin-bottom: 5px;
  position: relative;
  color: #333;
}
.banner-map__list-el:before {
  content: '';
  width: 3px;
  height: 3px;
  background: #333;
  position: absolute;
  left: 0;
  top: 50%;
}
.banner-map__get {
  width: 180px;
}
.section-title,
.articles-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: #344164;
  margin-bottom: 40px;
}
.articles {
  background: #ebf1f5;
  padding: 40px;
}
.articles-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles__el {
  width: 33%;
  color: #54657e;
}
.articles__el-title {
  margin-bottom: 20px;
  font-weight: 500;
}
.articles__el-text {
  font-weight: 300;
  margin-bottom: 20px;
}
.articles__el-get {
  font-size: 12px;
  font-weight: 300;
  color: #006ac5;
}
.location {
  padding: 60px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-color: #006ac5;
}
.location-wrap {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.location-title {
  color: #fff;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 28px;
}
.location-col {
  color: #fff;
  padding: 25px;
  border: 1px solid;
  border: 1px solid #6aa6da;
}
.location-el {
  display: flex;
  margin-bottom: 20px;
}
.location-el a {
  color: #fff;
}
.location-el a:hover {
  text-decoration: underline;
}
.location-el:last-child {
  margin-bottom: 0;
}
.location-el__icon .icon {
  fill: #fff;
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.location-el__text {
  margin-bottom: 5px;
}
.location-el__text:last-child {
  margin-bottom: 0;
}
.location-col--mark {
  background: #fff;
  padding: 40px;
}
.location-col--mark:hover .location-col-text {
  text-decoration: underline;
  color: #006ac5;
}
.location-col-icon .icon {
  width: 50px;
  height: 50px;
  margin-bottom: 40px;
}
.location-col-text {
  color: #111;
  font-weight: 700;
  line-height: 1.6;
  transition: all 0.4s;
}
.footer {
  background: #ebf1f5;
}
.footer-main {
  padding: 40px 0 65px 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.footer-main__title {
  font-weight: 500;
  color: #54657e;
  margin-bottom: 20px;
}
.footer-main__list-el {
  color: #54657e;
  font-weight: 300;
  display: block;
  margin-bottom: 5px;
}
.footer-main__town {
  font-size: 12px;
  color: #006ac5;
  display: block;
  text-align: right;
  margin-bottom: 10px;
}
.footer-main__town span {
  border-bottom: 1px dotted #006ac5;
  display: inline-block;
  margin-left: 3px;
}
.footer-main__phone {
  color: #006ac5;
  text-align: right;
  font-weight: 700;
  display: block;
}
.footer-bottom {
  padding: 25px 0;
  border-top: 1px solid #cad3df;
}
.footer-bottom-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom__info {
  color: #54657e;
  font-weight: 300;
}
.footer-bottom__info a {
  color: #006ac5;
  display: inline-block;
  margin-left: 5px;
}
.footer-bottom-soc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom-soc__text {
  color: #54657e;
  margin-right: 20px;
}
.footer-bottom-soc-list {
  display: flex;
}
.footer-bottom-soc-list__el {
  margin-left: 10px;
}
.footer-bottom-soc-list__el .icon {
  width: 30px;
  height: 30px;
}
.filter-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-head__el {
  width: 49%;
  text-align: center;
  border-radius: 5px 5px 0 0;
  border: 1px solid #cad3df;
  border-bottom: 0;
  color: #54657e;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 29px 20px 20px 20px;
}
.filter-head__el:hover {
  cursor: pointer;
}
.filter-head__el--active {
  background: #ebf1f5;
  border-color: #ebf1f5;
}
.filter-tab-wrap {
  background: #ebf1f5;
}
.filter-tab {
  padding: 60px 0;
  display: none;
}
.filter-tab--active {
  display: block;
}
.filter-item-wrap {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 30px;
}
.filter-item .input {
  width: 100%;
  margin-bottom: 0;
}
.filter-item__name {
  color: #54657e;
  margin-bottom: 15px;
}
.filter-item-footer {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-item-footer__info {
  color: #8493a8;
  line-height: 1.4;
  width: 72%;
}
.filter-item-footer__get {
  width: 32%;
  max-width: 280px;
}
.filter-item__el--half {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}
.filter-check {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sytle-input-text {
  color: #54657e;
  font-size: 14px;
}
.filter-item-extend {
  display: none;
}
.filter-toggle--open {
  display: none;
}
.filter-toggle--show .filter-toggle--open {
  display: block;
}
.filter-toggle--show .filter-toggle--hide {
  display: none;
}
.filter-toggle__el {
  color: #006ac5;
}
.filter-toggle__el:hover {
  cursor: pointer;
}
.filter {
  margin-bottom: 40px;
}
