@import 'rupture'
@import "variable/_function.styl"
@import "variable/_fonts.styl"
@import "variable/_ie.styl"
@import "icon/sprite.css"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/_elements.styl"
@import "variable/_constant.styl"
@import "../module/**/*"

body
	@extend .type--main
	font-family $v-font
	line-height 1.2
	letter-spacing 0.01em
	color #54657e


.main-cont
	center(1200px,10px)

.head
	+below(730px)
		margin-bottom: 10px
	margin-bottom: 20px
.head-top-wrap
	background: $gray
//.main-cont
.head-top
	+below(730px)
		padding: 10px 0
	f()
	align-items: center
.head-location
	f()
	cp()
	margin-right: 4%
.head-location-town
	color $blue
	margin-right: 10px
	border-bottom 1px dotted $blue
	font-size: 13px
.head-location-numb
	color $blue
	font-size: 13px
.head-top-nav
	+below(1200px)
		width: 35%
	+below(940px)
		width: 30%
	+below(730px)
		display: none
	flex(between)
	width: 25%
.head-top-nav__el
	+below(940px)
		font-size: 12px
	cp()
	tr(all)
	color #8493a8
	padding: 15px 0
	&:hover
		color black
		a
			color black
	a
		tr(all)
		color #8493a8
.head-top-nav__el--sub
	+below(940px)
		font-size: 12px
	flex(mid)
	position: relative
	.icon
		size 10px
		fill #8493a8
		margin-left: 7px
		margin-top: 2px
		tr(all)
	&:hover
		.head-top-nav__list
			display: block
		.icon
			fill black
.head-top-nav__list
	display: none
	background: white
	width: 170px
	br(5px)
	position: absolute
	top 100%
	left 0
	border 1px solid #cad3df
	overflow: hidden
	z-index 2
.head-top-nav__list-el
	background: white
	display: block
	padding: 25px 20px
	color #54657e
	position: relative
	tr(all)
	&:before
		position: absolute
		left 0
		top 0
		height: 100%
		width: 2px
		background: $blue
		opacity:0
	&:hover
		background: $gray
		color $blue
		&:before
			content ''
			opacity:1

.head-top-compare
	+below(730px)
		margin-right: 10px
	f()
	margin-left: auto
	margin-right: 4%
.head-top-compare__icon
	.icon
		size 14px
		fill #8493a8
		margin-right: 10px
.head-top-compare__text
	+below(940px)
		font-size: 12px
	+below(730px)
		display: none
	color #8493a8
.head-top-cart
	position: relative
.head-top-cart__icon
	.icon
		size 25px
		fill $blue
.head-top-cart__val
	position: absolute
	size 15px
	background: $red
	flex(mid)
	color white
	font-size: 12px
	round()
	top -4px
	right: -5px
	span
		display: inline-block
		margin-top: -2px



.head-main-wrap
	border-bottom 1px solid #cad3df
//.main-cont
.head-main
	f()
.logo
	+below(1200px)
		width: 23%
		flex(mid)
	+below(640px)
		min-width 120px
	display: block
	padding: 8px 20px 8px 0
	border-right 1px solid #cad3df
	width: 18%
	img
		width: 100%
.head-main-nav
	+below(730px)
		margin-left: auto
	f()
	margin-left: 25px
.head-main-nav-el
	+below(940px)
		margin-right: 0
	+below(640px)
		padding: 20px 5px
		font-size: 12px
	cp()
	tr(all)
	color #54657e
	margin-right: 15px
	padding: 12px 22px
	up()
	flex(mid)
	&:hover
		color black
		a
			color black
	a
		tr(all)
		color #54657e
.head-main-nav-el--sub
	flex(mid)
	position: relative
	.icon
		size 10px
		fill #54657e
		margin-left: 7px
		margin-top: 2px
		tr(all)
	&:hover
		.head-top-nav__list
			display: block
		.icon
			fill black
.head-main-nav-el--sub
	flex(mid)
	position: relative
	.icon
		size 10px
		fill #8493a8
		margin-left: 7px
		margin-top: 2px
		tr(all)
	&:hover
		.head-main-nav-list
			display: block
		.icon
			fill black
.head-main-nav-cat-wrap
	+below(640px)
		padding-left: 5px
	padding-left: 0
	&:hover

		.head-main-nav-cat
			+below(1024px)
				border-color white
				background: none
			border 1px solid #cad3df
			background-color $gray
.head-main-nav-cat
	+below(640px)
		padding: 0
	padding: 10px 20px
	transtion none
	border-radius 17px
	border 1px solid white
.head-main-nav-list
	+below(1024px)
		display: none !important
	display: none
	background: white
	width: 230px
	br(5px)
	position: absolute
	top 66px
	left 0
	border 1px solid #cad3df
	overflow: hidden
	background: white
	z-index 2
.head-main-nav-list-el
	display: block
	padding: 25px 20px
	color #54657e
	position: relative
	tr(all)
	text-transform: none
	border-bottom 1px solid #cad3df
	font-size: 14px
	&:last-child
		border-bottom 0
	&:hover
		background: $gray
		color $blue
.head-main-search
	+below(1200px)
		width: 35%
	+below(940px)
		width: 42%
	+below(730px)
		display: none
	margin-left: auto
	width: 28%
.head-main-search__input
	f()
	.input
		border-radius 5px 0 0 5px
		border 1px solid #cad3df
		background-color #ffffff
		padding: 12px 20px
		margin-bottom: 0
		width: calc(100% - 45px)
		&::-webkit-input-placeholder
			font-style italic
			font-size: 14px
			color #8493a8
		&::-moz-placeholder
			font-style italic
			font-size: 14px
			color #8493a8
		&::-moz-placeholder
			font-style italic
			font-size: 14px
			color #8493a8
		&::-ms-input-placeholder
			font-style italic
			font-size: 14px
			color #8493a8
	button
		background: none
		border 0px
		background: #344164
		width: 45px
		border-radius 0px 5px 5px 0
		.icon
			size 16px
			fill white

.head-main-content
	flex(between)
	width: 85%

.banner-panel
	+below(730px)
		fw()
		margin-bottom: 0
	f()
	justify-content: space-between
	margin-bottom: 20px
.banner-panel-sm
	+below(940px)
		width: 49%
	+below(730px)
		width: 100%
		margin-bottom: 10px
		height: 75px
	width: 32%
	flex(between)
	background: $red
	br(5px)
	color white!important
	padding: 10px
.banner-panel-sm-img
	margin-right: 20px
//.banner-panel-sm-info
.banner-panel-sm-title
	up()
	font-size: 24px
	font-weight: 700
.banner-panel-sm-text
	font-size: 12px
	up()
.banner-panel-lg
	+below(940px)
		width: 49%
		height: 75px
	+below(730px)
		width: 100%

	width: 66%
	background: $dark
	color white
	flex(between)
	padding: 15px
	br(5px)
.banner-panel-lg-title
	+below(1200px)
		font-size: 20px
	+below(940px)
		f()
		fl()
		font-size: 16px
		span
			font-size: 24px
			margin-left: 0!important
	+below(640px)
		font-size: 12px
		span
			font-size:18px
	color white
	up()
	font-size: 24px
	font-weight:500
	span
		margin-left: 5px
.slider-wrap
	+below(1200px)
		width: 90%
		margin-left: auto
		margin-right: auto
.banner-panel-lg-cont
	flex(between)
.banner-panel-lg-cont-icon
	+below(940px)
		display: none
	.icon
		size 24px
		fill white
		margin-right: 20px
.banner-panel-lg-cont-numb
	+below(640px)
		font-size: 18px
	font-size: 24px
	color white
	font-weight:700

.banner
	+below(940px)
		fw()
	+below(730px)
		margin-bottom: 10px
	f()
	justify-content: space-between
	margin-bottom: 20px
.banner-info
	+below(940px)
		order 2
		width: 100%
		f()
		justify-content: space-between
	+below(730px)
		display: none
	width: 32%
.banner-info__el
	+below(1200px)
		padding: 30px 20px
	+below(940px)
		margin-bottom: 0!important
		width: 49%
	bg-full()
	br(5px)
	position: relative
	padding: 40px
	&:first-child
		margin-bottom: 20px
.banner-info__el--news
	+below(940px)
		flex(mid)
.banner-info__el-filter
	filter()
	background: rgba(255, 255, 255, 0.7)
.banner-info__list
	position: relative
.banner-info__list-el
	f()
	margin-bottom: 25px
	&:last-child
		margin-bottom: 0
.banner-info__list-el-icon
	margin-right: 20px
	.icon
		size 42px
		fill #333333
.banner-info__list-el-text
	up()
	width calc(100% - 60px)
	line-height: 1.6
.banner-info__el-title
	up()
	font-size: 18px
	margin-bottom: 20px
.banner-info__list--news
	.banner-info__list-el
		margin-bottom: 0
	.banner-info__list-el-text
		width: 100%
		line-height: 1.4
		font-size: 14px
		text-transform: none
		margin-bottom: 10px

.banner-info__list-el-bottom
	flex(between)
.banner-info__list-el-bottom-date
	color #666666
	font-size: 12px
	font-weight:300

.banner-info__list-el-bottom-get
	color $blue
	font-size: 12px
	font-weight:300
.banner-map
	+below(940px)
		order 1
		width: 100%
		margin-bottom: 20px
	+below(730px)
		display: none
	width: 66%
	flex(mid)
	bg-full()
	background-size: 90%
.banner-map-content
	width: 80%
	+below(940px)
		padding: 30px 0
.banner-map__title
	font-size: 36px
	font-weight:700
	up()
	margin-bottom: 20px
	color #303030
.banner-map__list
	font-size: 18px
	font-weight:500
	margin-bottom: 10%
.banner-map__list-el
	padding-left: 15px
	margin-bottom: 5px
	position: relative
	color #333333
	&:before
		content ''
		size 3px
		background: #333333
		position: absolute
		left 0
		top 50%
.banner-map__get
	@extend .btn--md
	@extend .btn--mark
	width: 180px

.section-title
	up()
	text-align: center
	font-size: 30px
	font-weight:500
	color $dark
	margin-bottom: 40px
.articles
	+below(940px)
		display: none
	background: $gray
	padding: 40px
.articles-title
	@extend .section-title

.articles-wrap

	display: grid
	grid-gap 20px
	grid-template-columns repeat(3,1fr);
.articles__el
	color #54657e

.articles__el-title
	margin-bottom: 20px
	font-weight: 500
.articles__el-text
	font-weight: 300
	margin-bottom: 20px
.articles__el-get
	font-size 12px
	font-weight 300
	color $blue

.location
	+below(768px)
		display: none
	padding: 60px 0
	bg-full()
	position: relative
	background-color #006ac5
//.main-cont
.location-wrap
	+below(940px)
		grid-template-columns repeat(2,1fr);
	display: grid
	grid-gap 20px
	grid-template-columns repeat(4,1fr);
.location-title
	color white
	margin-bottom: 40px
	font-weight:500
	font-size: 28px

.location-col
	color white
	padding: 25px
	border 1px solid
	border 1px solid #6aa6da
.location-el
	f()
	margin-bottom: 20px
	a
		color white
		&:hover
			text-decoration: underline
	&:last-child
		margin-bottom: 0
.location-el__icon
	.icon
		fill white
		size 20px
		margin-right: 15px
//.location-el__content
.location-el__text
	margin-bottom: 5px
	&:last-child
		margin-bottom: 0

.location-col--mark
	background: white
	padding: 40px
	&:hover
		.location-col-text
			text-decoration: underline
			color $blue

.location-col-icon
	.icon
		size 50px
		margin-bottom: 40px

.location-col-text
	color black
	font-weight: 700
	line-height: 1.6
	tr(all)

.footer
	background: $gray
//.main-cont
.footer-main
	+below(730px)
		grid-template-columns repeat(2,1fr);
	padding: 40px 0 65px 0
	display: grid
	grid-gap 20px
	grid-template-columns repeat(4,1fr);
.footer-main__col
	+below(730px)
		&:nth-child(2)
			display: none
		&:nth-child(3)
			display: none
.footer-main__title
	font-weight:500
	color #54657e
	margin-bottom: 20px
//.footer-main__list
.footer-main__list-el
	+below(640px)
		font-size: 12px
	color #54657e
	font-weight:300
	display: block
	margin-bottom: 5px

.footer-main__town
	font-size: 12px
	color $blue
	display: block
	text-align: right
	margin-bottom: 10px
	span
		border-bottom 1px dotted #006ac5
		display: inline-block
		margin-left: 3px
.footer-main__phone
	color $blue
	text-align: right
	font-weight: 700
	display: block
.footer-bottom
	padding: 25px 0
	border-top 1px solid #cad3df
.footer-bottom-wrap
	flex(between)
.footer-bottom__info
	+below(640px)
		font-size: 12px
		line-height: 1.6
	color #54657e
	font-weight: 300
	a
		+below(640px)
			margin-left: 0
		color $blue
		display: inline-block
		margin-left: 5px
.footer-bottom-soc
	flex(between)
.footer-bottom-soc__text
	+below(730px)
		display: none
	color #54657e
	margin-right: 20px
.footer-bottom-soc-list
	f()
.footer-bottom-soc-list__el
	margin-left: 10px
	.icon
		size 30px


//.filter
//.main-cont
.tab-head
	f()
	justify-content: space-between
.tab-head__el
	flex(mid)
	+below(940px)
		font-size: 18px
		padding: 20px 5px
	+below(730px)
		font-size: 14px
	+below(640px)
		padding: 20px 3px
		font-size: 12px
	width: 49%
	text-align: center
	border-radius 5px 5px 0 0
	border 1px solid #cad3df
	border-bottom 0
	color #54657e
	font-size 24px
	font-weight 500
	text-transform uppercase
	padding: 29px 20px 20px 20px
	cp()
.tab-head__el--active
	background: $gray
	border-color $gray
.content-tab-wrap
	+below(730px)
		padding: 40px 0
	background: $gray
	padding: 60px 0

.content-tab
	height: 0
	overflow: hidden
	transform:translateY(9999px)
.content-tab--active
	height: auto
	overflow: initial
	transform:translateY(0px)
.filter-item-wrap
	+below(768px)
		grid-template-columns repeat(2,1fr);
	+below(730px)
		grid-template-columns repeat(1,1fr);
	display: grid
	grid-gap 20px
	grid-template-columns repeat(4,1fr);
	margin-bottom: 30px
.filter-item
	.input
		width: 100%
		margin-bottom: 0
.filter-item__name
	color #54657e
	margin-bottom: 15px
//.filter-item__el
//.input
.filter-item-footer
	+below(730px)
		margin-top: 30px
		fl()
	margin-top: 35px
	flex(between)
.filter-item-footer__info
	+below(730px)
		width: 100%
		order 2
	color #8493a8
	line-height: 1.4
	width: 72%
.filter-item-footer__get
	+below(730px)
		order 1
		width: 100%
		margin-bottom: 20px
	+below(640px)
		width: 100%
		max-width 100%
	@extend .btn--dark
	@extend .btn--md
	width: 32%
	max-width 280px
.filter-item__el--half
	display: grid
	grid-gap 10px
	grid-template-columns 1fr 1fr;
//.link--mark

.filter-check
	+below(1024px)
		fw()
		justify-content: flex-start
	+below(768px)
		margin-left: -10px
	flex(between)
	.check-el
		+below(1024px)
			width: 25%
			margin-bottom: 20px
		+below(768px)
			margin-left: 10px
		+below(640px)
			width: 100%

.sytle-input-text
	color #54657e
	font-size: 14px
	width calc(100% - 35px)
.filter-item-extend
	display: none

.filter-toggle--open
	display: none

.filter-toggle--show
	.filter-toggle--open
		display: block
	.filter-toggle--hide
		display: none

.filter-toggle__el
	+below(640px)
		text-align: center
	color $blue
	cp()

.filter
	margin-bottom: 40px

//.main-cont
.service-title
	@extend .section-title
	margin-bottom: 20px
.service-title-sub
	flex(mid)
	margin-bottom: 35px
.service-title-sub__icon
	.icon
		size 14px
		fill $red
		margin-right: 5px
.service-title-sub__text
	+below(640px)
		font-size: 12px
		text-align: center
	color #8493a8
	font-size 14px
	font-weight 300
.service
	+below(940px)
		grid-template-columns repeat(2,1fr);
		max-width 768px
		margin-left: auto
		margin-right: auto
	+below(768px)
		max-width 640px
	+below(730px)
		grid-template-columns repeat(1,1fr);
		max-width 380px
	display: grid
	grid-gap 35px
	grid-template-columns repeat(4,1fr);
	margin-bottom: 40px
//.service__el
.service-head
	+below(730px)
		margin-bottom: 15px
	flex(between)
	margin-bottom: 30px
.service-head__icon
	border-radius 5px
	background-color $red
	size 80px
	flex(mid)
	.icon
		size 40px
		fill white
.service-head__text
	width:calc(100% - 100px)
.service-text
	margin-bottom: 20px
	font-size: 14px
	line-height: 1.4
.service-link
	@extend .link--mark

.tab-head__el--icon
	flex(mid)
	.icon
		margin-left: 10px
		margin-top: -3px
		size 24px
		fill #54657e

//.item-slider
.item
	position: relative
	background: white
	border-radius 5px
	border 1px solid #cad3df
	background-color #ffffff
	padding: 10px 25px 20px 25px
.item-sale
	position: absolute
	top 0
	left 10px
.item-img
	padding: 50% 20%
	bg-full()
	margin-bottom: 20px
	display: block
.item-title
	text-align: center
	margin-bottom: 15px
.item-price
	margin-bottom: 20px
.item-price__text
	f()
	justify-content: center
	align-items: flex-end
	color #54657e
	font-size: 14px
.item-price__val
	color $red
	font-size: 20px
	font-weight:500
	margin: 0 3px

.item-footer
	flex(between)
.item-footer__price-false
	color #54657e
	position: relative
	&:before
		content ''
		position: absolute
		top 50%
		height: 1px
		width: 100%
		background: #54657e
.item-footer__get
	flex(between)
	margin-left: auto
.item-footer__compare
	size 40px
	flex(mid)
	border-radius 5px
	border 1px solid #8493a8
	cp()
	margin-right: 10px
	.icon
		size 14px
		fill #8493a8
.item-footer__cart
	size 40px
	flex(mid)
	border-radius 5px
	cp()
	background-color #2ac35a
	.icon
		size 18px
		fill white

//for custom navigation
.slider-control
	round()
	flex(mid)
	tr(all)
	position: absolute
	top 50%
	margin-top: -10px
	z-index 10
	cp()
	.icon
		size 20px

.slider-control--left
	+below(1200px)
		left 0
	left -30px
.slider-control--right
	+below(1200px)
		right 0
	right -30px

.slick-slide
		margin: 0 20px
.slick-list
	margin: 0 -20px

.slider-items-wrap
	margin-bottom: 20px
	+below(730px)
		display: none
.cards
	+below(768px)
		grid-template-columns repeat(3,1fr)
	+below(730px)
		display: none
	display: grid
	grid-gap 20px
	grid-template-columns repeat(4,1fr)
	grid-template-rows repeat(3,1fr)
	margin-bottom: 20px
.cards__el
	+below(1024px)
		min-height 220px
	&:hover
		.cards-filter
			background-color rgba(0, 0, 0, 0.5)
	border-radius 5px
	padding: 5% 10%
	min-height 280px
	bg-full()
	position: relative
	br(5px)
	overflow: hidden


.cards-filter
	tr(all)
	filter()
	background-color rgba(0, 0, 0, 0.4)
.cards-content
	position: absolute
	top 0
	left 0
	width: 100%
	height: 100%
	z-index 2
	padding: 20px
.cards-content__title
	+below(1024px)
		font-size: 18px
	color white
	font-size: 24px
	font-weight:500
	up()


.cards__el--all
	background: #344164
	.cards-content
		height: 100%
		f()
		fl()
.cards-content__get
	color white
	margin-top: auto

.cards-content__title--bottom
	position: absolute
	bottom 30px
	left 20px
	padding-right: 10px

.cards-content-size
	display: grid
	grid-gap 10px
	grid-template-columns repeat(auto-fill,minmax(80px,1fr))
.cards-content-size__el
	border-radius 5px
	border 2px solid #ffffff
	color white!important
	padding: 15px 5px
	font-size: 14px
	text-align: center
	tr(all)
	&:hover
		opacity:.7

.cards__el--avto
	grid-row:1/3
	grid-column:1/3
	.cards-content
		f()
		fl()
	.cards-content-size
		margin-top: auto
.cards__el--moto
	 grid-column:1/3
	 grid-row:3
//.cards__el--gruz
//.cards__el--stat
//.cards__el--for
//.cards__el--ship
//.cards__el--other

.banner-info__el--mobile
	+above(640px)
		display: none
	width: 100%
	margin-bottom: 20px!important
	padding: 10px