@font-face {
  font-family: 'Exo';
  src: url("../fonts/Exo2-Light.woff2") format('woff2'), url("../fonts/Exo2-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Exo';
  src: url("../fonts/Exo2-Regular.woff2") format('woff2'), url("../fonts/Exo2-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Exo';
  src: url("../fonts/Exo2-Medium.woff2") format('woff2'), url("../fonts/Exo2-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Exo';
  src: url("../fonts/Exo2-bold.woff2") format('woff2'), url("../fonts/Exo2-bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}
.clear {
  clear: both;
}
.align-image-center {
  text-align: center;
}
.fluid-image {
  max-width: 100%;
  height: auto;
  display: block;
}
.type--up {
  text-transform: uppercase;
}
.type--italy {
  font-style: italic;
}
.type--center {
  text-align: center;
}
.type--left {
  text-align: left;
}
.type--right {
  text-align: right;
}
.disabled,
.btn--disable,
.style-label--disable {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
.hidden {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.all-page__el {
  width: 32%;
  padding: 5px;
  -webkit-box-shadow: 0px 3px 8px #e3e3e3;
          box-shadow: 0px 3px 8px #e3e3e3;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .all-page__el {
    width: 100%;
    margin-bottom: 20px;
  }
}
.all-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.elements-hr {
  margin: 40px 0;
  display: block;
  height: 1px;
  border-bottom: 1px solid #d1d1d1;
}
.all-page__title {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #000;
}
.old-browser {
  background: #808080;
  width: 100%;
  height: 100vh;
  padding-top: 200px;
}
.all-page-color {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.all-page-color__el {
  margin: 20px;
}
.all-page-color__block {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  margin-bottom: 10px;
}
.all-page-color__el-name {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
.old-browser-text {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.element-list-svg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.element-list-svg__icon {
  width: 12%;
  margin: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}
.element-list-svg__icon .icon-el {
  margin-bottom: 10px;
  width: 25px;
  height: 25px;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.shrink {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  margin: 0;
  -webkit-animation: slideInDown 1s 1 ease-in-out;
          animation: slideInDown 1s 1 ease-in-out;
}
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
a {
  text-decoration: none;
  color: $link-color;
}
a:hover {
  text-decoration: none;
  color: $link-color-hover;
}
.type--bold {
  font-weight: $weigh-bold;
}
img,
iframe {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
table th,
table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table thead:first-child tr th,
table thead:first-child tr td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #ddd;
}
table th + th,
table td + td,
table th + td,
table td + th {
  border-left: 1px solid #ddd;
}
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top: 0;
}
table thead:first-child tr:first-child th:first-child,
table tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
          border-radius: 4px 0 0 0;
}
table thead:first-child tr:first-child th:last-child,
table tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
          border-radius: 0 4px 0 0;
}
table thead:last-child tr:last-child th:first-child,
table tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
          border-radius: 0 0 0 4px;
}
table thead:last-child tr:last-child th:last-child,
table tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
          border-radius: 0 0 4px 0;
}
table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #f5f5f5;
}
body > svg {
  display: none;
}
.small-only {
  display: none;
}
@media only screen and (max-width: 768px) {
  .small-only {
    display: table;
  }
}
@media only screen and (max-width: 768px) {
  .large-only {
    display: none;
  }
}
.rub {
  font-family: 'RUB';
  font-style: normal;
}
.type--xs {
  font-size: 12px;
}
@media only screen and (max-width: 768px) {
  .type--xs {
    font-size: 10px;
  }
}
.type--sm {
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  .type--sm {
    font-size: 12px;
  }
}
.type--main,
p,
body {
  font-size: 16px;
}
@media only screen and (max-width: 768px) {
  .type--main,
  p,
  body {
    font-size: 14px;
  }
}
.type--md {
  font-size: 18px;
}
@media only screen and (max-width: 768px) {
  .type--md {
    font-size: 15px;
  }
}
.type--lg {
  font-size: 24px;
}
@media only screen and (max-width: 768px) {
  .type--lg {
    font-size: 18px;
  }
}
.type--xl {
  font-size: 30px;
}
@media only screen and (max-width: 768px) {
  .type--xl {
    font-size: 20px;
  }
}
.type--bold {
  font-weight: bold;
}
a {
  color: #111;
}
a:hover {
  color: #000;
}
a:visiter {
  color: #000;
}
.link--mark,
.service-link {
  color: #006ac5;
}
.link--mark:hover,
.service-link:hover {
  color: #00335f;
}
.link--mark:visiter,
.service-link:visiter {
  color: #00182c;
}
.link--main {
  color: #111;
  border-bottom: #111 solid transparent;
}
.link--main:hover {
  border-bottom: #111 solid;
}
.link--main:hover {
  color: #000;
}
.link--main:visiter {
  color: #000;
}
.link--text {
  color: #111;
  text-decoration: underline;
}
.link--text:hover {
  text-decoration: none;
}
.btn,
.btn--sm,
.btn--md,
.btn--lg,
.btn--mobile,
.btn--mark,
.btn--dark,
.btn--light,
.btn--grey,
.btn--dotted,
.btn--white,
.banner-map__get,
.filter-item-footer__get {
  text-transform: uppercase;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  display: inline-block;
  background: none;
  border: 0;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.btn:hover,
.btn--sm:hover,
.btn--md:hover,
.btn--lg:hover,
.btn--mobile:hover,
.btn--mark:hover,
.btn--dark:hover,
.btn--light:hover,
.btn--grey:hover,
.btn--dotted:hover,
.btn--white:hover,
.banner-map__get:hover,
.filter-item-footer__get:hover {
  cursor: pointer;
}
.btn--sm {
  font-size: 10px;
  padding: 5px 10px;
}
.btn--sm .nav-icon {
  width: 10px;
  height: 10px;
}
.btn--md,
.banner-map__get,
.filter-item-footer__get {
  font-size: 15px;
  padding: 15px 35px;
}
.btn--lg {
  font-size: 20px;
  padding: 10px 30px;
}
@media only screen and (max-width: 768px) {
  .btn--mobile {
    width: 100%;
    text-align: center;
  }
}
.btn--mark,
.banner-map__get {
  color: #fff;
  background: #e31e25;
}
.btn--mark:hover,
.banner-map__get:hover {
  background-color: #ce1a20;
  color: #fff !important;
}
.btn--mark:active,
.banner-map__get:active {
  background-color: #ce1a20;
  color: #fff !important;
}
.btn--mark input[type="submit"],
.banner-map__get input[type="submit"] {
  border: 0;
}
.btn--dark,
.filter-item-footer__get {
  color: #fff;
  background: #344164;
}
.btn--dark:hover,
.filter-item-footer__get:hover {
  color: #fff !important;
  background-color: #2b3653;
}
.btn--dark:active,
.filter-item-footer__get:active {
  color: #fff !important;
  background-color: #2b3653;
}
.btn--dark input[type="submit"],
.filter-item-footer__get input[type="submit"] {
  border: 0;
}
.btn--disable {
  border: 1px solid #ddd;
  background-color: #fff;
  color: #000;
}
.btn--light {
  border: 1px solid #ddd;
  background-color: #fff;
}
.btn--light:hover {
  border: 1px solid #006ac5;
}
.btn--light .nav-icon {
  fill: #3a90c8;
}
.btn--grey {
  border: 1px solid #ddd;
  background-color: #fff;
}
.btn--dotted {
  border: 1px dashed #d7d7d7;
  background-color: #fff;
  text-align: center;
}
.btn--white {
  border: 1px solid rgba(255,255,255,0.9);
  color: rgba(255,255,255,0.9);
}
.btn--white .nav-icon {
  fill: rgba(255,255,255,0.9);
}
.btn--icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
.btn--hover {
  -webkit-transform: perspective(100px) translateZ(0);
          transform: perspective(100px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
          transition-property: color;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}
.btn--hover:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #aaa;
  -webkit-border-radius: 10%;
          border-radius: 10%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition-property: -webkit-transform;
          transition-property: transform;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.btn--hover:hover,
.btn--hover:focus,
.btn--hover:active {
  color: #fff;
}
.btn--hover:hover:before {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
}
.btn--hover:focus:before {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
}
.btn--hover:active:before {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
}
button {
  font-family: 'Exo', sans-serif;
}
.input,
.textarea,
.select {
  border: 0px;
  padding: 15px 20px;
  border: 1px solid #ddd;
  resize: none;
  outline: 0 !important;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-family: 'Exo', sans-serif;
  display: block !important;
  margin-bottom: 10px;
  background: #f7f7f8;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.input input::-webkit-input-placeholder,
.textarea input::-webkit-input-placeholder,
.select input::-webkit-input-placeholder {
  color: #888;
}
.input input::-moz-placeholder,
.textarea input::-moz-placeholder,
.select input::-moz-placeholder {
  color: #888;
}
.input input:-moz-placeholder,
.textarea input:-moz-placeholder,
.select input:-moz-placeholder {
  color: #888;
}
.input input:-ms-input-placeholder,
.textarea input:-ms-input-placeholder,
.select input:-ms-input-placeholder {
  color: #888;
}
.input:focus,
.textarea:focus,
.select:focus {
  border: 1px solid #3a90c8;
}
.style-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.check-el input {
  position: absolute;
  top: 0;
  left: -9999px;
}
.check-el .sytle-input-element {
  width: 25px;
  height: 25px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: #fff;
  border: 1px solid #cad3df;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.check-el .sytle-input-element:hover {
  cursor: pointer;
}
.check-el .sytle-input-element:hover {
  border: 1px solid #8d8d8d;
}
.check-el .icon-check {
  display: none;
}
.check-el .sytle-input:checked ~ .sytle-input-element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
.check-el .sytle-input:checked ~ .sytle-input-element .icon-check {
  display: block;
  fill: #006ac5;
  width: 14px;
  height: 14px;
}
.style-label--radio input {
  position: absolute;
  top: 0;
  left: -9999px;
}
.style-label--radio .sytle-input-element {
  width: 22px;
  height: 22px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: #fff;
  border: 1px solid #cfcfcf;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.style-label--radio .sytle-input-element:hover {
  cursor: pointer;
}
.style-label--radio .icon-check {
  display: none;
}
.style-label--radio .sytle-input:checked ~ .sytle-input-element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
.style-label--radio .sytle-input:checked ~ .sytle-input-element .icon-radio {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 14px;
  height: 14px;
  background: #3a90c8;
}
/* block footer*/
/*block footer end */
body {
  font-family: 'Exo', sans-serif;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #54657e;
}
.main-cont {
  *zoom: 1;
  width: auto;
  max-width: 1200px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
  padding: 0 10px;
}
.main-cont:before,
.main-cont:after {
  content: '';
  display: table;
}
.main-cont:after {
  clear: both;
}
@media only screen and (min-width: 1200px) {
  .main-cont {
    width: 1200px;
  }
}
.head {
  margin-bottom: 20px;
}
@media only screen and (max-width: 730px) {
  .head {
    margin-bottom: 10px;
  }
}
.head-top-wrap {
  background: #ebf1f5;
}
.head-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 730px) {
  .head-top {
    padding: 10px 0;
  }
}
.head-location {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 4%;
}
.head-location:hover {
  cursor: pointer;
}
.head-location-town {
  color: #006ac5;
  margin-right: 10px;
  border-bottom: 1px dotted #006ac5;
  font-size: 13px;
}
.head-location-numb {
  color: #006ac5;
  font-size: 13px;
}
.head-top-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
}
@media only screen and (max-width: 1200px) {
  .head-top-nav {
    width: 35%;
  }
}
@media only screen and (max-width: 940px) {
  .head-top-nav {
    width: 30%;
  }
}
@media only screen and (max-width: 730px) {
  .head-top-nav {
    display: none;
  }
}
.head-top-nav__el {
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  color: #8493a8;
  padding: 15px 0;
}
@media only screen and (max-width: 940px) {
  .head-top-nav__el {
    font-size: 12px;
  }
}
.head-top-nav__el:hover {
  cursor: pointer;
}
.head-top-nav__el:hover {
  color: #111;
}
.head-top-nav__el:hover a {
  color: #111;
}
.head-top-nav__el a {
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  color: #8493a8;
}
.head-top-nav__el--sub {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media only screen and (max-width: 940px) {
  .head-top-nav__el--sub {
    font-size: 12px;
  }
}
.head-top-nav__el--sub .icon {
  width: 10px;
  height: 10px;
  fill: #8493a8;
  margin-left: 7px;
  margin-top: 2px;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.head-top-nav__el--sub:hover .head-top-nav__list {
  display: block;
}
.head-top-nav__el--sub:hover .icon {
  fill: #111;
}
.head-top-nav__list {
  display: none;
  background: #fff;
  width: 170px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #cad3df;
  overflow: hidden;
  z-index: 2;
}
.head-top-nav__list-el {
  background: #fff;
  display: block;
  padding: 25px 20px;
  color: #54657e;
  position: relative;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.head-top-nav__list-el:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background: #006ac5;
  opacity: 0;
}
.head-top-nav__list-el:hover {
  background: #ebf1f5;
  color: #006ac5;
}
.head-top-nav__list-el:hover:before {
  content: '';
  opacity: 1;
}
.head-top-compare {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 4%;
}
@media only screen and (max-width: 730px) {
  .head-top-compare {
    margin-right: 10px;
  }
}
.head-top-compare__icon .icon {
  width: 14px;
  height: 14px;
  fill: #8493a8;
  margin-right: 10px;
}
.head-top-compare__text {
  color: #8493a8;
}
@media only screen and (max-width: 940px) {
  .head-top-compare__text {
    font-size: 12px;
  }
}
@media only screen and (max-width: 730px) {
  .head-top-compare__text {
    display: none;
  }
}
.head-top-cart {
  position: relative;
}
.head-top-cart__icon .icon {
  width: 25px;
  height: 25px;
  fill: #006ac5;
}
.head-top-cart__val {
  position: absolute;
  width: 15px;
  height: 15px;
  background: #e31e25;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 12px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  top: -4px;
  right: -5px;
}
.head-top-cart__val span {
  display: inline-block;
  margin-top: -2px;
}
.head-main-wrap {
  border-bottom: 1px solid #cad3df;
}
.head-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.logo {
  display: block;
  padding: 8px 20px 8px 0;
  border-right: 1px solid #cad3df;
  width: 18%;
}
@media only screen and (max-width: 1200px) {
  .logo {
    width: 23%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (max-width: 640px) {
  .logo {
    min-width: 120px;
  }
}
.logo img {
  width: 100%;
}
.head-main-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25px;
}
@media only screen and (max-width: 730px) {
  .head-main-nav {
    margin-left: auto;
  }
}
.head-main-nav-el {
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  color: #54657e;
  margin-right: 15px;
  padding: 12px 22px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 940px) {
  .head-main-nav-el {
    margin-right: 0;
  }
}
@media only screen and (max-width: 640px) {
  .head-main-nav-el {
    padding: 20px 5px;
    font-size: 12px;
  }
}
.head-main-nav-el:hover {
  cursor: pointer;
}
.head-main-nav-el:hover {
  color: #111;
}
.head-main-nav-el:hover a {
  color: #111;
}
.head-main-nav-el a {
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  color: #54657e;
}
.head-main-nav-el--sub {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.head-main-nav-el--sub .icon {
  width: 10px;
  height: 10px;
  fill: #54657e;
  margin-left: 7px;
  margin-top: 2px;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.head-main-nav-el--sub:hover .head-top-nav__list {
  display: block;
}
.head-main-nav-el--sub:hover .icon {
  fill: #111;
}
.head-main-nav-el--sub {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.head-main-nav-el--sub .icon {
  width: 10px;
  height: 10px;
  fill: #8493a8;
  margin-left: 7px;
  margin-top: 2px;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.head-main-nav-el--sub:hover .head-main-nav-list {
  display: block;
}
.head-main-nav-el--sub:hover .icon {
  fill: #111;
}
.head-main-nav-cat-wrap {
  padding-left: 0;
}
@media only screen and (max-width: 640px) {
  .head-main-nav-cat-wrap {
    padding-left: 5px;
  }
}
.head-main-nav-cat-wrap:hover .head-main-nav-cat {
  border: 1px solid #cad3df;
  background-color: #ebf1f5;
}
@media only screen and (max-width: 1024px) {
  .head-main-nav-cat-wrap:hover .head-main-nav-cat {
    border-color: #fff;
    background: none;
  }
}
.head-main-nav-cat {
  padding: 10px 20px;
  transtion: none;
  -webkit-border-radius: 17px;
          border-radius: 17px;
  border: 1px solid #fff;
}
@media only screen and (max-width: 640px) {
  .head-main-nav-cat {
    padding: 0;
  }
}
.head-main-nav-list {
  display: none;
  background: #fff;
  width: 230px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  position: absolute;
  top: 66px;
  left: 0;
  border: 1px solid #cad3df;
  overflow: hidden;
  background: #fff;
  z-index: 2;
}
@media only screen and (max-width: 1024px) {
  .head-main-nav-list {
    display: none !important;
  }
}
.head-main-nav-list-el {
  display: block;
  padding: 25px 20px;
  color: #54657e;
  position: relative;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  text-transform: none;
  border-bottom: 1px solid #cad3df;
  font-size: 14px;
}
.head-main-nav-list-el:last-child {
  border-bottom: 0;
}
.head-main-nav-list-el:hover {
  background: #ebf1f5;
  color: #006ac5;
}
.head-main-search {
  margin-left: auto;
  width: 28%;
}
@media only screen and (max-width: 1200px) {
  .head-main-search {
    width: 35%;
  }
}
@media only screen and (max-width: 940px) {
  .head-main-search {
    width: 42%;
  }
}
@media only screen and (max-width: 730px) {
  .head-main-search {
    display: none;
  }
}
.head-main-search__input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.head-main-search__input .input {
  -webkit-border-radius: 5px 0 0 5px;
          border-radius: 5px 0 0 5px;
  border: 1px solid #cad3df;
  background-color: #fff;
  padding: 12px 20px;
  margin-bottom: 0;
  width: -webkit-calc(100% - 45px);
  width: calc(100% - 45px);
}
.head-main-search__input .input::-webkit-input-placeholder {
  font-style: italic;
  font-size: 14px;
  color: #8493a8;
}
.head-main-search__input .input::-moz-placeholder {
  font-style: italic;
  font-size: 14px;
  color: #8493a8;
}
.head-main-search__input .input::-moz-placeholder {
  font-style: italic;
  font-size: 14px;
  color: #8493a8;
}
.head-main-search__input .input::-ms-input-placeholder {
  font-style: italic;
  font-size: 14px;
  color: #8493a8;
}
.head-main-search__input button {
  background: none;
  border: 0px;
  background: #344164;
  width: 45px;
  -webkit-border-radius: 0px 5px 5px 0;
          border-radius: 0px 5px 5px 0;
}
.head-main-search__input button .icon {
  width: 16px;
  height: 16px;
  fill: #fff;
}
.head-main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
}
.banner-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
@media only screen and (max-width: 730px) {
  .banner-panel {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 0;
  }
}
.banner-panel-sm {
  width: 32%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e31e25;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: #fff !important;
  padding: 10px;
}
@media only screen and (max-width: 940px) {
  .banner-panel-sm {
    width: 49%;
  }
}
@media only screen and (max-width: 730px) {
  .banner-panel-sm {
    width: 100%;
    margin-bottom: 10px;
    height: 75px;
  }
}
.banner-panel-sm-img {
  margin-right: 20px;
}
.banner-panel-sm-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}
.banner-panel-sm-text {
  font-size: 12px;
  text-transform: uppercase;
}
.banner-panel-lg {
  width: 66%;
  background: #344164;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
@media only screen and (max-width: 940px) {
  .banner-panel-lg {
    width: 49%;
    height: 75px;
  }
}
@media only screen and (max-width: 730px) {
  .banner-panel-lg {
    width: 100%;
  }
}
.banner-panel-lg-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
}
@media only screen and (max-width: 1200px) {
  .banner-panel-lg-title {
    font-size: 20px;
  }
}
@media only screen and (max-width: 940px) {
  .banner-panel-lg-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    font-size: 16px;
  }
  .banner-panel-lg-title span {
    font-size: 24px;
    margin-left: 0 !important;
  }
}
@media only screen and (max-width: 640px) {
  .banner-panel-lg-title {
    font-size: 12px;
  }
  .banner-panel-lg-title span {
    font-size: 18px;
  }
}
.banner-panel-lg-title span {
  margin-left: 5px;
}
@media only screen and (max-width: 1200px) {
  .slider-wrap {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
.banner-panel-lg-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 940px) {
  .banner-panel-lg-cont-icon {
    display: none;
  }
}
.banner-panel-lg-cont-icon .icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-right: 20px;
}
.banner-panel-lg-cont-numb {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
}
@media only screen and (max-width: 640px) {
  .banner-panel-lg-cont-numb {
    font-size: 18px;
  }
}
.banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
@media only screen and (max-width: 940px) {
  .banner {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
@media only screen and (max-width: 730px) {
  .banner {
    margin-bottom: 10px;
  }
}
.banner-info {
  width: 32%;
}
@media only screen and (max-width: 940px) {
  .banner-info {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media only screen and (max-width: 730px) {
  .banner-info {
    display: none;
  }
}
.banner-info__el {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  position: relative;
  padding: 40px;
}
@media only screen and (max-width: 1200px) {
  .banner-info__el {
    padding: 30px 20px;
  }
}
@media only screen and (max-width: 940px) {
  .banner-info__el {
    margin-bottom: 0 !important;
    width: 49%;
  }
}
.banner-info__el:first-child {
  margin-bottom: 20px;
}
@media only screen and (max-width: 940px) {
  .banner-info__el--news {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.banner-info__el-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.7);
}
.banner-info__list {
  position: relative;
}
.banner-info__list-el {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}
.banner-info__list-el:last-child {
  margin-bottom: 0;
}
.banner-info__list-el-icon {
  margin-right: 20px;
}
.banner-info__list-el-icon .icon {
  width: 42px;
  height: 42px;
  fill: #333;
}
.banner-info__list-el-text {
  text-transform: uppercase;
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
  line-height: 1.6;
}
.banner-info__el-title {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 20px;
}
.banner-info__list--news .banner-info__list-el {
  margin-bottom: 0;
}
.banner-info__list--news .banner-info__list-el-text {
  width: 100%;
  line-height: 1.4;
  font-size: 14px;
  text-transform: none;
  margin-bottom: 10px;
}
.banner-info__list-el-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner-info__list-el-bottom-date {
  color: #666;
  font-size: 12px;
  font-weight: 300;
}
.banner-info__list-el-bottom-get {
  color: #006ac5;
  font-size: 12px;
  font-weight: 300;
}
.banner-map {
  width: 66%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90%;
}
@media only screen and (max-width: 940px) {
  .banner-map {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 730px) {
  .banner-map {
    display: none;
  }
}
.banner-map-content {
  width: 80%;
}
@media only screen and (max-width: 940px) {
  .banner-map-content {
    padding: 30px 0;
  }
}
.banner-map__title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #303030;
}
.banner-map__list {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10%;
}
.banner-map__list-el {
  padding-left: 15px;
  margin-bottom: 5px;
  position: relative;
  color: #333;
}
.banner-map__list-el:before {
  content: '';
  width: 3px;
  height: 3px;
  background: #333;
  position: absolute;
  left: 0;
  top: 50%;
}
.banner-map__get {
  width: 180px;
}
.section-title,
.articles-title,
.service-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: #344164;
  margin-bottom: 40px;
}
.articles {
  background: #ebf1f5;
  padding: 40px;
}
@media only screen and (max-width: 940px) {
  .articles {
    display: none;
  }
}
.articles-wrap {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.articles__el {
  color: #54657e;
}
.articles__el-title {
  margin-bottom: 20px;
  font-weight: 500;
}
.articles__el-text {
  font-weight: 300;
  margin-bottom: 20px;
}
.articles__el-get {
  font-size: 12px;
  font-weight: 300;
  color: #006ac5;
}
.location {
  padding: 60px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-color: #006ac5;
}
@media only screen and (max-width: 768px) {
  .location {
    display: none;
  }
}
.location-wrap {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (max-width: 940px) {
  .location-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
.location-title {
  color: #fff;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 28px;
}
.location-col {
  color: #fff;
  padding: 25px;
  border: 1px solid;
  border: 1px solid #6aa6da;
}
.location-el {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.location-el a {
  color: #fff;
}
.location-el a:hover {
  text-decoration: underline;
}
.location-el:last-child {
  margin-bottom: 0;
}
.location-el__icon .icon {
  fill: #fff;
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.location-el__text {
  margin-bottom: 5px;
}
.location-el__text:last-child {
  margin-bottom: 0;
}
.location-col--mark {
  background: #fff;
  padding: 40px;
}
.location-col--mark:hover .location-col-text {
  text-decoration: underline;
  color: #006ac5;
}
.location-col-icon .icon {
  width: 50px;
  height: 50px;
  margin-bottom: 40px;
}
.location-col-text {
  color: #111;
  font-weight: 700;
  line-height: 1.6;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.footer {
  background: #ebf1f5;
}
.footer-main {
  padding: 40px 0 65px 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (max-width: 730px) {
  .footer-main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 730px) {
  .footer-main__col:nth-child(2) {
    display: none;
  }
  .footer-main__col:nth-child(3) {
    display: none;
  }
}
.footer-main__title {
  font-weight: 500;
  color: #54657e;
  margin-bottom: 20px;
}
.footer-main__list-el {
  color: #54657e;
  font-weight: 300;
  display: block;
  margin-bottom: 5px;
}
@media only screen and (max-width: 640px) {
  .footer-main__list-el {
    font-size: 12px;
  }
}
.footer-main__town {
  font-size: 12px;
  color: #006ac5;
  display: block;
  text-align: right;
  margin-bottom: 10px;
}
.footer-main__town span {
  border-bottom: 1px dotted #006ac5;
  display: inline-block;
  margin-left: 3px;
}
.footer-main__phone {
  color: #006ac5;
  text-align: right;
  font-weight: 700;
  display: block;
}
.footer-bottom {
  padding: 25px 0;
  border-top: 1px solid #cad3df;
}
.footer-bottom-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-bottom__info {
  color: #54657e;
  font-weight: 300;
}
@media only screen and (max-width: 640px) {
  .footer-bottom__info {
    font-size: 12px;
    line-height: 1.6;
  }
}
.footer-bottom__info a {
  color: #006ac5;
  display: inline-block;
  margin-left: 5px;
}
@media only screen and (max-width: 640px) {
  .footer-bottom__info a {
    margin-left: 0;
  }
}
.footer-bottom-soc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-bottom-soc__text {
  color: #54657e;
  margin-right: 20px;
}
@media only screen and (max-width: 730px) {
  .footer-bottom-soc__text {
    display: none;
  }
}
.footer-bottom-soc-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.footer-bottom-soc-list__el {
  margin-left: 10px;
}
.footer-bottom-soc-list__el .icon {
  width: 30px;
  height: 30px;
}
.tab-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tab-head__el {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 49%;
  text-align: center;
  -webkit-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
  border: 1px solid #cad3df;
  border-bottom: 0;
  color: #54657e;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 29px 20px 20px 20px;
}
@media only screen and (max-width: 940px) {
  .tab-head__el {
    font-size: 18px;
    padding: 20px 5px;
  }
}
@media only screen and (max-width: 730px) {
  .tab-head__el {
    font-size: 14px;
  }
}
@media only screen and (max-width: 640px) {
  .tab-head__el {
    padding: 20px 3px;
    font-size: 12px;
  }
}
.tab-head__el:hover {
  cursor: pointer;
}
.tab-head__el--active {
  background: #ebf1f5;
  border-color: #ebf1f5;
}
.content-tab-wrap {
  background: #ebf1f5;
  padding: 60px 0;
}
@media only screen and (max-width: 730px) {
  .content-tab-wrap {
    padding: 40px 0;
  }
}
.content-tab {
  height: 0;
  overflow: hidden;
  -webkit-transform: translateY(9999px);
      -ms-transform: translateY(9999px);
          transform: translateY(9999px);
}
.content-tab--active {
  height: auto;
  overflow: initial;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}
.filter-item-wrap {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .filter-item-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 730px) {
  .filter-item-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}
.filter-item .input {
  width: 100%;
  margin-bottom: 0;
}
.filter-item__name {
  color: #54657e;
  margin-bottom: 15px;
}
.filter-item-footer {
  margin-top: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 730px) {
  .filter-item-footer {
    margin-top: 30px;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}
.filter-item-footer__info {
  color: #8493a8;
  line-height: 1.4;
  width: 72%;
}
@media only screen and (max-width: 730px) {
  .filter-item-footer__info {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}
.filter-item-footer__get {
  width: 32%;
  max-width: 280px;
}
@media only screen and (max-width: 730px) {
  .filter-item-footer__get {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 640px) {
  .filter-item-footer__get {
    width: 100%;
    max-width: 100%;
  }
}
.filter-item__el--half {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}
.filter-check {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 1024px) {
  .filter-check {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media only screen and (max-width: 768px) {
  .filter-check {
    margin-left: -10px;
  }
}
@media only screen and (max-width: 1024px) {
  .filter-check .check-el {
    width: 25%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .filter-check .check-el {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 640px) {
  .filter-check .check-el {
    width: 100%;
  }
}
.sytle-input-text {
  color: #54657e;
  font-size: 14px;
  width: -webkit-calc(100% - 35px);
  width: calc(100% - 35px);
}
.filter-item-extend {
  display: none;
}
.filter-toggle--open {
  display: none;
}
.filter-toggle--show .filter-toggle--open {
  display: block;
}
.filter-toggle--show .filter-toggle--hide {
  display: none;
}
.filter-toggle__el {
  color: #006ac5;
}
@media only screen and (max-width: 640px) {
  .filter-toggle__el {
    text-align: center;
  }
}
.filter-toggle__el:hover {
  cursor: pointer;
}
.filter {
  margin-bottom: 40px;
}
.service-title {
  margin-bottom: 20px;
}
.service-title-sub {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}
.service-title-sub__icon .icon {
  width: 14px;
  height: 14px;
  fill: #e31e25;
  margin-right: 5px;
}
.service-title-sub__text {
  color: #8493a8;
  font-size: 14px;
  font-weight: 300;
}
@media only screen and (max-width: 640px) {
  .service-title-sub__text {
    font-size: 12px;
    text-align: center;
  }
}
.service {
  display: grid;
  grid-gap: 35px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 40px;
}
@media only screen and (max-width: 940px) {
  .service {
    grid-template-columns: repeat(2, 1fr);
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 768px) {
  .service {
    max-width: 640px;
  }
}
@media only screen and (max-width: 730px) {
  .service {
    grid-template-columns: repeat(1, 1fr);
    max-width: 380px;
  }
}
.service-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
@media only screen and (max-width: 730px) {
  .service-head {
    margin-bottom: 15px;
  }
}
.service-head__icon {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #e31e25;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.service-head__icon .icon {
  width: 40px;
  height: 40px;
  fill: #fff;
}
.service-head__text {
  width: -webkit-calc(100% - 100px);
  width: calc(100% - 100px);
}
.service-text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.4;
}
.tab-head__el--icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.tab-head__el--icon .icon {
  margin-left: 10px;
  margin-top: -3px;
  width: 24px;
  height: 24px;
  fill: #54657e;
}
.item {
  position: relative;
  background: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #cad3df;
  background-color: #fff;
  padding: 10px 25px 20px 25px;
}
.item-sale {
  position: absolute;
  top: 0;
  left: 10px;
}
.item-img {
  padding: 50% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 20px;
  display: block;
}
.item-title {
  text-align: center;
  margin-bottom: 15px;
}
.item-price {
  margin-bottom: 20px;
}
.item-price__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #54657e;
  font-size: 14px;
}
.item-price__val {
  color: #e31e25;
  font-size: 20px;
  font-weight: 500;
  margin: 0 3px;
}
.item-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-footer__price-false {
  color: #54657e;
  position: relative;
}
.item-footer__price-false:before {
  content: '';
  position: absolute;
  top: 50%;
  height: 1px;
  width: 100%;
  background: #54657e;
}
.item-footer__get {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.item-footer__compare {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #8493a8;
  margin-right: 10px;
}
.item-footer__compare:hover {
  cursor: pointer;
}
.item-footer__compare .icon {
  width: 14px;
  height: 14px;
  fill: #8493a8;
}
.item-footer__cart {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #2ac35a;
}
.item-footer__cart:hover {
  cursor: pointer;
}
.item-footer__cart .icon {
  width: 18px;
  height: 18px;
  fill: #fff;
}
.slider-control {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  z-index: 10;
}
.slider-control:hover {
  cursor: pointer;
}
.slider-control .icon {
  width: 20px;
  height: 20px;
}
.slider-control--left {
  left: -30px;
}
@media only screen and (max-width: 1200px) {
  .slider-control--left {
    left: 0;
  }
}
.slider-control--right {
  right: -30px;
}
@media only screen and (max-width: 1200px) {
  .slider-control--right {
    right: 0;
  }
}
.slick-slide {
  margin: 0 20px;
}
.slick-list {
  margin: 0 -20px;
}
.slider-items-wrap {
  margin-bottom: 20px;
}
@media only screen and (max-width: 730px) {
  .slider-items-wrap {
    display: none;
  }
}
.cards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 730px) {
  .cards {
    display: none;
  }
}
.cards__el {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 24% 10%;
  min-height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  .cards__el {
    min-height: 220px;
  }
}
.cards__el:hover .cards-filter {
  background-color: rgba(0,0,0,0.5);
}
.cards-filter {
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}
.cards-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 20px;
}
.cards-content__title {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
@media only screen and (max-width: 1024px) {
  .cards-content__title {
    font-size: 18px;
  }
}
.cards__el--all {
  background: #344164;
}
.cards__el--all .cards-content {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}
.cards-content__get {
  color: #fff;
  margin-top: auto;
}
.cards-content__title--bottom {
  position: absolute;
  bottom: 30px;
  left: 20px;
}
.cards-content-size {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
}
.cards-content-size__el {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 2px solid #fff;
  color: #fff !important;
  padding: 15px 5px;
  font-size: 14px;
  text-align: center;
}
.cards__el--avto {
  grid-row: 1/3;
  grid-column: 1/3;
}
.cards__el--avto .cards-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}
.cards__el--avto .cards-content-size {
  margin-top: auto;
}
.cards__el--moto {
  grid-column: 1/3;
  grid-row: 3;
}
.banner-info__el--mobile {
  width: 100%;
  margin-bottom: 20px !important;
  padding: 10px;
}
@media only screen and (min-width: 640px) {
  .banner-info__el--mobile {
    display: none;
  }
}
