include block_html/_style.pug
include block_html/_include.pug

+headerlp()

//head banner
.lp-banner-wrap(style="background-image:url('img/bg-triangle-gray.jpg')")
	.main-cont
		.lp-banner
			.lp-banner__slogan
				.lp-banner__slogan-top в поиске хорошего корейского аккумулятора?
				.lp-banner__slogan-main Выбирайте лучший!
				.lp-banner__img.lp-banner__img--sm
					img(src="img/akun-triple-cene.png", alt="")

//row-get
.lp-row-get
	a(href="#").lp-row-get__btn Подберите АКБ для вашего автомобиля

//advant
.section-advant.section--gray
	.main-cont
		.section-title выбери для себя лучшее
		.lp-advant
			.lp-advant-col
				.lp-advant-col__img
					img(src="img/exide.png", alt="")
				.lp-advant-row
					.lp-advant__el-img
						img(src="img/icon-cene-1.png", alt="")
					.lp-advant__el-text.lp-advant__el-text--mark Технология Premium Carbon Boost ускорило время зарядки в 1.5 раза
				.lp-advant-row
					.lp-advant__el-img
						img(src="img/icon-cene-2.png", alt="")
					.lp-advant__el-text Подходит для высокоэнергооснащенных автомобилей и требовательной бортовой сетью
				.lp-advant-row
					.lp-advant__el-img
						img(src="img/icon-cene-3.png", alt="")
					.lp-advant__el-text Подходит для эксплуатации в экстремальных погодных условиях при интенсивной городской езде
			.lp-advant-col
				.lp-advant-col__img
					img(src="img/cene.png", alt="")
				.lp-advant-row
					.lp-advant__el-img
						img(src="img/icon-cene-4.png", alt="")
					.lp-advant__el-text.lp-advant__el-text--mark Технология PUNCH Technology, увеличивает срок службы аккумулятора до 30%
				.lp-advant-row
					.lp-advant__el-img
						img(src="img/icon-cene-5.png", alt="")
					.lp-advant__el-text Аккумуляторы не требуют обслуживания на протяжении всего срока службы
				.lp-advant-row
					.lp-advant__el-img
						img(src="img/icon-cene-6.png", alt="")
					.lp-advant__el-text Подходит для высокоэнергооснащенных автомобилей и требовательной бортовой сетью

//slider-items
.section-lp
	.main-cont
		.section-title Мы рекомендуем
		.items
			- for (var i=0;i<4;i++)
				.item
					a(href="#" style="background-image:url('img/product.png')").item-img
					.item-title AlphaLINE AGM 60.0 L2 (AX 560680/56020) обр
					.item-price
						.item-price__text Цена:
							.item-price__val.item-price__val--gray 1 990 руб.
					.item-get Купить

//compare
.section-lp.section--compare
	.main-cont
		.section-title Сравнение аналогичных товаров
		.compare--tree
			.compare__el
				.compare__el--img(style="background-image:url('img/cene-lp-akum-1.png')")
				.compare__el--content
					.compare__el-row
						.compare__el-row-name Модель
						.compare__el-row-val Mutlu Silver 66.0 обр.
					.compare__el-row
						.compare__el-row-name Емкость
						.compare__el-row-val 66 А/ч
					.compare__el-row
						.compare__el-row-name Стартовый ток
						.compare__el-row-val 560 А
					.compare__el-row
						.compare__el-row-name Цикл жизни по отношению к стандартному аккумулятору
						.compare__el-row-val 100%
					.compare__el-row
						.compare__el-row-name Гарантия
						.compare__el-row-val 12 месяцев
					.compare__el-row
						.compare__el-row-name Производитель
						.compare__el-row-val Турция
			.compare__el
				.compare__el--img(style="background-image:url('img/cene-lp-akum-2.png')")
				.compare__el--content
					.compare__el-row
						.compare__el-row-name Модель
						.compare__el-row-val Exide Premium 64.0 (EA640) обр
					.compare__el-row
						.compare__el-row-name Емкость
						.compare__el-row-val 64 А/ч
					.compare__el-row
						.compare__el-row-name Стартовый ток
						.compare__el-row-val 640 А
					.compare__el-row
						.compare__el-row-name Цикл жизни по отношению к стандартному аккумулятору
						.compare__el-row-val 120%
					.compare__el-row
						.compare__el-row-name Гарантия
						.compare__el-row-val 36 месяцев
					.compare__el-row
						.compare__el-row-name Производитель
						.compare__el-row-val Европа
			.compare__el
				.compare__el--img(style="background-image:url('img/cene-lp-akum-3.png')")
				.compare__el--content
					.compare__el-row
						.compare__el-row-name Модель
						.compare__el-row-val CENE Euro 65.0 L2 (56513) обр
					.compare__el-row
						.compare__el-row-name Емкость
						.compare__el-row-val 65 А/ч
					.compare__el-row
						.compare__el-row-name Стартовый ток
						.compare__el-row-val 650 А
					.compare__el-row
						.compare__el-row-name Цикл жизни по отношению к стандартному аккумулятору
						.compare__el-row-val 120%
					.compare__el-row
						.compare__el-row-name Гарантия
						.compare__el-row-val 48 месяцев
					.compare__el-row
						.compare__el-row-name Производитель
						.compare__el-row-val Корея

//services
.section-lp.section-lp--sevices
	.main-cont
		.service-title Ваш А-сервис
		.service-title-sub
			.service-title-sub__icon
				+icon("star","icon")
			.service-title-sub__text Услуги для наших покупателей БЕСПЛАТНО
		.service
			.service__el
				.service-head
					.service-head__icon
						+icon("tester","icon")
					.service-head__text Диагностика АКБ
				.service-text Рекомендуем проходить  диагностику 2 раза в год
				a(href="#").service-link Подробнее
			.service__el
				.service-head
					.service-head__icon
						+icon("akum","icon")
					.service-head__text Обслуживание АКБ
				.service-text Увеличим срок службы АКБ до 2 раз
				a(href="#").service-link Подробнее
			.service__el
				.service-head
					.service-head__icon
						+icon("tools","icon")
					.service-head__text Диагностика электрооборудования автомобиля
				.service-text Используем высокоточное сертифицированное диагностическое оборудование
				a(href="#").service-link Подробнее
			.service__el
				.service-head
					.service-head__icon
						+icon("batary","icon")
					.service-head__text Прием и обмен старых АКБ
				.service-text Новый вместо старого. Утилизируем старый АКБ правильно и выгодно
				a(href="#").service-link Подробнее
+footer()

include ./block_html/_script.pug
