@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
	.filter-item-wrap
		display: flex
		justify-content: space-between
	.filter-item
		width: 23%
	.filter-item__el--half
		display: flex
		justify-content: space-between
		.input
			width: 45%
	.service
		display: flex
		justify-content: space-between
	.service__el
		width: 24%
	.cards
		f()
		fw()
		justify-content: space-between
	.cards-content-size
		display: none
	.cards__el
		width: 24%
		margin-bottom: 20px
	.articles
		margin-top: -20px
	.articles-wrap
		display: flex
		justify-content: space-between
	.articles__el
		width: 32%
	.location-wrap
		display: flex
		justify-content: space-between
	.location-col
		width: 30%
		margin-left: -1px
	.footer-main
		display: flex
		justify-content: space-between
	.footer-main__col
		width: 30%
		margin-left: -1px
	.toggle-type
		f()
		justify-content: space-between
	.toggle-type__el
		width: 15%
	.cat-type--open
		display: flex!important
		justify-content: space-between
		fw()
	.goods
		width: 32%
		margin-bottom: 20px
	.cat-grid
		display: flex
		fw()
		justify-content: space-between
	.cat-grid__el
		width: 49%
		margin-bottom: 20px
	.cat-grid-list
		display: flex
		justify-content: space-between
		fw()
	.cat-grid-list-el
		flex-grow 1
		margin: 3px
	.cat-grid__el--list
		display: flex
		fw()
		justify-content: space-between
		.cat-grid__el-img
			width: 48%
	.cat-grid__el-img--long
		width: 100%
		margin-bottom: 20px
	.cat-grid-line
		.cat-grid-line__el
			margin-bottom: 20px
	.input-row-triple
		f()
		justify-content: space-between
		.input-row
			width: 32%
	.location-item-info
		display: flex
		justify-content: space-between
		fw()
	.location-item-row
		width: 48%
		margin-bottom: 20px
@media screen and (max-width: 1024px) and (-ms-high-contrast: none), (-ms-high-contrast: active)
	//for media