mixin footer()
	//block footer
	//location
	.location(style="background-image:url('img/banner-map.png')")
		.location-filter
		.main-cont
			.location-title Наши магазины в Новосибирске
			.location-wrap
				.location-col
					.location-el
						.location-el__icon
							+icon("location","icon")
						.location-el__content
							a(href="#").location-el__text Б. Богаткова, 264
					.location-el
						.location-el__icon
							+icon("phone","icon")
						.location-el__content
							a(href="tel:+7 (383) 214-00-65").location-el__text +7 (383) 214-00-65
					.location-el
						.location-el__icon
							+icon("time","icon")
						.location-el__content
							.location-el__text Пн–Пт: 8:00–21:00
							.location-el__text Сб–Вс: 9:00–19:00
				.location-col
					.location-el
						.location-el__icon
							+icon("location","icon")
						.location-el__content
							a(href="#").location-el__text пр. Дзержинского, 5
					.location-el
						.location-el__icon
							+icon("phone","icon")
						.location-el__content
							a(href="tel:+7 (383) 299-03-01").location-el__text +7 (383) 299-03-01
					.location-el
						.location-el__icon
							+icon("time","icon")
						.location-el__content
							.location-el__text Пн–Пт: 8:00–21:00
							.location-el__text Сб–Вс: 9:00–19:00
				.location-col
					.location-el
						.location-el__icon
							+icon("location","icon")
						.location-el__content
							a(href="#").location-el__text Железнодорожная, 17
					.location-el
						.location-el__icon
							+icon("phone","icon")
						.location-el__content
							a(href="tel:+7 (383) 292-92-19").location-el__text +7 (383) 292-92-19
					.location-el
						.location-el__icon
							+icon("time","icon")
						.location-el__content
							.location-el__text Пн–Пт: 8:00–21:00
							.location-el__text Сб–Вс: 9:00–19:00
				a(href="#").location-col.location-col--mark
					.location-col-icon
						+icon("map","icon")
					.location-col-text Посмотреть все магазины на карте
	//footer section
	.footer
		.main-cont
			.footer-main
				.footer-main__col
					.footer-main__title Каталог
					.footer-main__list
						-
							var items = [
								'Авто АКБ',
								'Мото АКБ',
								'Катерные АКБ',
								'Товары для АКБ',
								'Промышленные АКБ',
								'Другие товары'
							];
						each item in items
							a(href="#").footer-main__list-el #{item}
				.footer-main__col
					.footer-main__title Компания
					.footer-main__list
						-
							var items = [
								'О нас',
								'Оптовым покупателям',
								'Партнеры',
								'Новости',
								'Бренды',
								'Отзывы'
							];
						each item in items
							a(href="#").footer-main__list-el #{item}
				.footer-main__col
					.footer-main__title Помощь покупателю
					.footer-main__list
						-
							var items = [
								'Магазины',
								'Сервисные центры',
								'Акции',
								'Услуги',
								'Вопрос-Ответ'
							];
						each item in items
							a(href="#").footer-main__list-el #{item}
				.footer-main__col
					a(href="#").footer-main__town Ваш город:
						span Новосибирск
					a(href="tel:+7 (383) 291-95-93").footer-main__phone +7 (383) 291-95-93

		.footer-bottom
			.main-cont
				.footer-bottom-wrap
					.footer-bottom__info 2018 © Автомотив. Продвижение сайта
						a(href="#") Снайпер
					.footer-bottom-soc
						.footer-bottom-soc__text Мы в социальных сетях:
						.footer-bottom-soc-list
							a(href="#").footer-bottom-soc-list__el
								+icon("vk--color","icon")
							a(href="#").footer-bottom-soc-list__el
								+icon("ok--color","icon")
							a(href="#").footer-bottom-soc-list__el
								+icon("youtube--color","icon")
	.modal-layer
		.modal-filter
		.modal-wrap
			.modal(data-modal="order")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-title Запись в А-Сервис

					form(action="#" class="order")
						.input-row-two
							.input-row
								.input-row-title Ваше имя
								input(type="text" placeholder="Введите Ваше имя" class="input")
							.input-row
								.input-row-title Ваше телефон
								input(type="text" placeholder="Введите Ваш телефон" class="input")
						.input-row-two
							.input-row
								.input-row-title Марка автомобиля
								select.select-beauty
									option(data-display="Веберите из списка") не выбрано
									option вариант 1
									option вариант 2
									option вариант 3
							.input-row
								.input-row-title Модель Автомобиля
								select.select-beauty
									option(data-display="Веберите из списка") не выбрано
									option вариант 1
									option вариант 2
									option вариант 3
						.input-row-two
							.input-row
								.input-row-title Желаемая дата
								select.select-beauty
									option(data-display="Веберите дату") не выбрано
									option вариант 1
									option вариант 2
									option вариант 3
							.input-row
								.input-row-title Желаемое время
								select.select-beauty
									option(data-display="Веберите время") не выбрано
									option вариант 1
									option вариант 2
									option вариант 3
						.input-row
							.input-row-title Комментарий
								textarea(name="text", cols="30", rows="5" class="input" placeholder="Введите Ваш вопрос")
						.order-confirm
							.check-el
								label.style-label.style-label--checkbox
									input(type="checkbox").sytle-input
									.sytle-input-element
										+icon("checked","icon-check")
									.sytle-input-text Я даю согласие на
										a(href="#") обработку персональных данных.
							.order-get
								input(type="submit" value="Запись в автосервис ").order-get-el.order-get__btn.modal-send
			//success message
			.modal(data-modal="truemessage")
				.modal-content.modal-content--true
					+icon("interface","icon")
					.modal-text-true Ваша заявка принята
	//block footer end






