-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
			'name':'Уровень 2',
			'href':'level-2'
		},
		{
			'name':'Уровень 1',
			'href':'level-1'
		},
		{
			'name':'Карточка товара',
			'href':'item'
		}
	]

