mixin header()
	//block header
	.head
		.head-top-wrap
			.main-cont
				.head-top
					.head-location
						.head-location-town Новосибирск
						.head-location-numb +7 (383) 291 95-93
					.head-top-nav
						.head-top-nav__el.head-top-nav__el--sub
							a(href="#") О компании
							+icon("triangle","icon")
							.head-top-nav__list
								a(href="#").head-top-nav__list-el Новости
								a(href="#").head-top-nav__list-el О компании
								a(href="#").head-top-nav__list-el Бренды
								a(href="#").head-top-nav__list-el Партнеры
						a(href="#").head-top-nav__el Новости
						a(href="#").head-top-nav__el Акции
					.head-top-compare
						.head-top-compare__icon
							+icon("chart","icon")
						.head-top-compare__text Товары в сравнении (0)
					a(href="#").head-top-cart
						.head-top-cart__icon
							+icon("shopping-cart","icon")
						.head-top-cart__val
							span 5
		.head-main-wrap
			.main-cont
				.head-main
					a(href="/").logo
						img(src="img/logo-main.svg", alt="")
					.head-main-content
						.head-main-nav
							.head-main-nav-el.head-main-nav-el--sub.head-main-nav-cat-wrap
								a(href="#").head-main-nav-cat Каталог
									+icon("triangle","icon")
								.head-main-nav-list
									-
										var items = [
											'Авто аккумуляторы',
											'Мото аккумуляторы',
											'Катерные аккумуляторы',
											'Стационарные и промышленные АКБ',
											'Товары для АКБ',
											'Другие товары'
											];
									each item in items
										a(href="#").head-main-nav-list-el #{item}
							a(href="#").head-main-nav-el Магазины
						form(action="#").head-main-search
							.head-main-search__input
								input(type="text" placeholder="Поиск по сайту" class="input")
								button
									+icon("search","icon")


//block header end